@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Tilt+Neon&display=swap')

* { 
  margin: 0; 
  padding: 0; 
   box-sizing: border-box; 
 }

body { 
  height: 100vh; 
  background-color: #010101; 
  display: grid; 
  place-items: center; 
}

button {
  font-size: 1vw; 
}


.container { 
  border-radius: 6px; 
  width: 100%;
  max-width: 640px; 
  min-height: 600px; 
  height: auto; 
  display: flex; 
  flex-direction: column; 
}

form {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

form input {
  width: 90%;
  padding: 0.5rem;
  color: #F8F8FF;
  background-color: coral;
  border-radius: 6px; 
  font-size: 2vw;
  font-family: inherit;
  border: 0;
  /* outline: none;  */
}

form input::placeholder {
  color: #F8F8FF;
}

form button {
  width: 100px;
  background-color: #eeaa74;
}

.tasks {
  display: flex; 
  flex-direction: column; 
}




