* { 
  margin: 0; 
  padding: 0; 
   box-sizing: border-box; 
 }

body { 
  height: 100vh; 
  background-color: #010101; 
  display: grid; 
  place-items: center; 
}

button {
  font-size: 1vw; 
}


.container { 
  border-radius: 6px; 
  width: 100%;
  max-width: 640px; 
  min-height: 600px; 
  height: auto; 
  display: flex; 
  flex-direction: column; 
}


